<% unless user_signed_in? %>
  <div class="container jumbotron-wrapper d-none d-sm-block">
    <div class="p-5 mb-4 bg-light rounded-3 jumbotron">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold mb-4">LoueMoi</h1>
            <blockquote class="blockquote text-left">
              <p class="col-md-12 fs-4">Join LoueMoi today and be part of a vibrant community where you can lend and borrow items with ease!</p>
            <%= link_to "Signup", new_user_registration_path, class: "btn btn-primary btn-lg text-decoration-none"  %>
            </blockquote>
        </div>
    </div>
  </div>
<% end %>

<div class="row justify-content-center mt-4">
  <div class="col-md-12">
    <% if @query.present? %>
      <h2>Search Results for "<%= @query %>":</h2>
      <% if @items.any? %>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          <%= render partial: 'shared/item_card', collection: @items, as: :item %>
        </div>
      <% else %>
        <p>No items found.</p>
      <% end %>
    <% else %>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <%= render partial: 'shared/item_card', collection: @items, as: :item %>
      </div>
    <% end %>
  </div>
</div>
