.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
}

.card-description {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-title {
  padding: 0.3em 0;
  padding-bottom: 0.7em;
  text-align: left;
  font-weight: 600;
}

.card-title a,
.card-description a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}

.card-title a:hover,
.card-description a:hover {
  color: rgb(217, 209, 209);
}

.card-links {
  display: flex;
  justify-content: space-between;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
